@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

html,
body {
    width: 100%;
}

#header {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
    background: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);


}

.container {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 50px;

}

.logo {
    width: 180px;
    height: auto;
    top: 0;
    left: 0;

}

.logo:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;


}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 6rem;
    padding: 0;
}

.nav-list li {
    margin-right: 50px;

}

.nav-list li a {
    color: white;
    text-decoration: none;

}

.nav-list li a:hover {
    color: blue;
}

.search-container {
    display: flex;
    gap: 10px;

}

.search-input {
    outline: none;
    width: 350px;
    height: 30px;
    border-radius: 10px;
}

.search-icon {
    color: white;
    cursor: pointer;

}

.search-icon:hover {
    transform: scale(1.1);
}

.right-side {
    margin-left: 2rem;
    display: flex;
}

.cart-icon {
    display: flex;

    margin-left: 30px;
    font-size: 25px;

}

.cart-icon a {
    color: white;
}

.cart-icon a:hover {
    color: blue;
    animation: shaky 0.6s ease-in-out;
}

@keyframes shaky {

    0%,
    100% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(-3px);
    }

    20% {
        transform: translateX(3px);
    }

    30% {
        transform: translateX(-3px);
    }

    40% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(-2px);
    }

    60% {
        transform: translateX(2px);
    }

    70% {
        transform: translateX(-1px);
    }

    80% {
        transform: translateX(1px);
    }

    90% {
        transform: translateX(-1px);
    }
}

.login {
    display: flex;


    margin-left: 40px;
    font-size: 25px;
    border: 2px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    justify-content: center;
    color: #0E0E5A;
    background-color: #F7F7F7;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.login:hover {
    transform: scale(1.1);

}

.login i {
    font-size: 32px;
    color: #0E0E5A;
    z-index: 2;
    transition: color 0.3s ease-in-out;
}

/* product ko card views ko lagi : start */
body {
    font-family: Arial, sans-serif;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

.product-card {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    height: 100%;
    min-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;

}

.product-title {
    font-size: 25px;
    margin: 10px 0;
    color: #333;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.view-button {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    background-color: #272522;
    color: #f1e7e7;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-button:hover {
    transition: transform 0.2s;
    background-color: #403c35;

}

/* yaha samma*/

.wrapper {
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
}

#active:checked ~ .wrapper {
    /*left: 0;*/
    right: 0;
}

.menu-btn {
    margin-top: 20px;
    background-color: blueviolet;
    position: absolute;
    z-index: 2;
    right: 20px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}


.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

/* closing animation */
#active:checked + .menu-btn span {
    transform: scaleX(0);
}

#active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}

#active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.wrapper ul {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #1a73e8;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

#active:checked ~ .wrapper ul li a {
    opacity: 1;
}

.wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked ~ .wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    transition-delay: .6s;
    transform: translateX(-100px);
}

.item-section {
    height: 90vh;

}

.item-card {
    display: flex;
    align-items: center;
    background-color: #fbf9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    margin: 20px auto;
    height: 90%;
}

.item-image {
    width: 40%;
    height: 80%;
    background-color: #eaf6e8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    gap: 5px;
    margin-left: 20px;
}

.item-image img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.item-details {
    padding: 20px;
    width: 60%;
    height: 80%;
}

.item-details h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 5rem;
    color: #333;
    font-weight: bold;
}

.item-details .price {
    font-size: 1.8rem;
    color: #d23d3d;
    margin: 10px 0;
    font-weight: bold;
}

.add-to-cart {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.add-to-cart:hover {
    background-color: #d23d3d;
}


@media screen and (min-width: 1500px) {
    .menu-btn {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    .navbar {
        display: none;
    }

    .container {
        width: 90%;
        gap: 0px;
    }

}

@media screen and ( max-width: 900px) {
    .search-container {
        display: none;
    }

    .item-details h2 {
        font-size: 4rem;
    }

}

@media screen and ( max-width: 700px) {
    .right-side {
        display: none;
    }

}
