{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudX - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
<div>
    <!-- Navbar Section -->

    {% include "navbar.html" %}
</div>
<div class="msg-container">
    <!-- Messaging Block -->
    {% if messages %}
        <div class="messages-container" id="messagess">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                    <div class="progress-bar">
                        <div class="progress"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const messages = document.getElementById("messagess");

            if (messages) {
                // Create the progress bar element
                const progressBar = document.createElement("div");
                progressBar.classList.add("progress-bar");

                // Append the progress bar to the messages container
                messages.appendChild(progressBar);

                // Hide the messages container after 5 seconds
                setTimeout(() => {
                    messages.style.display = "none";
                }, 5000);
            }
        });
    </script>

</div>

<!-- Content Section -->
<div id="content">
    {% block content %}

    {% endblock %}
</div>

<!-- Footer Section -->

<footer>
    <div class="footer-content">
        <div class="about-us">
            <h4>ABOUT US</h4>
            <p>StudX: The ultimate online marketplace for students, offering engineering tools, gadgets,
                clothing, and rental rooms, all in one convenient platform.</p>
        </div>
        <p>&copy; 2024 StudX. All rights reserved.</p>
        <p>Contact us: <a href="mailto:support@moviefiesta.com">support@moviefiesta.com</a></p>
        <div class="social-icons">
            <a href="https://twitter.com" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://discord.com" target="_blank"><i class="bx bxl-discord"></i></a>
        </div>
    </div>

</footer>
</body>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</html>
