{% extends 'base.html' %}

{% block content %}
<section class="item-section">
    <div class="form-container-edisel">
        <h2>Edit Your Profile</h2>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Seller Name -->
            <div class="form-group">
                <h3 style="font-weight: 300">Seller Name:</h3>
                <label for="{{ form.seller_name.id_for_label }}">Seller Name</label>
                {{ form.seller_name }}
            </div>

            <!-- Address -->
            <div class="form-group">
                <h3 style="font-weight: 300">Address:</h3>
                <label for="{{ form.address.id_for_label }}">Address</label>
                {{ form.address }}
            </div>

            <!-- Phone Number -->
            <div class="form-group">
                <h3 style="font-weight: 300">Phone Number:</h3>
                <label for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                {{ form.phone_number }}
            </div>

            <!-- Citizenship Number -->
            <div class="form-group">
                <h3 style="font-weight: 300">Citizenship Number:</h3>
                <label for="{{ form.citizenship_number.id_for_label }}">Citizenship Number</label>
                {{ form.citizenship_number }}
            </div>

            <!-- Date of Birth -->
            <div class="form-group">
                <h3 style="font-weight: 300">Date of Birth:</h3>
                <label for="{{ form.dob.id_for_label }}">Date of Birth</label>
                {{ form.dob }}
            </div>

            <!-- Profile Photo -->
            <div class="form-group">
            <h3 style="font-weight: 300">Profile Photo:</h3>
                <label for="{{ form.photo.id_for_label }}">Profile Photo</label>
                {% if form.photo.value %}

                <div class="photo-preview">
                    <img src="{{ form.photo.value.url }}" alt="Current Profile Photo" width="150px" height="150px">
                    <button type="button" id="clear-photo" class="clear-photo-button">Clear</button>

                </div>
                    <br><br>
                {% endif %}
                {{ form.photo }}
            </div>
            <button type="submit" class="green-button">Save Changes</button>
        </form>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const clearButton = document.getElementById('clear-photo');
        const photoField = document.getElementById('id_photo');
        const photoPreview = document.querySelector('.photo-preview img');

        if (clearButton) {
            clearButton.addEventListener('click', function () {
                photoField.value = null;
                photoPreview.style.display = 'none';
                clearButton.style.display = 'none';
            });
        }
    });
</script>
{% endblock %}
