{% extends 'base.html' %}

{% block content %}
    <div class="form-container" style="width: 60%;">


        <h2 class="heading">Login</h2>
        <form class="form-design" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input style="margin-top:10px; margin-bottom:10px; border: 1px solid #ccc; padding: 10px; font-size: 14px; width: 100%;"
                   type="text" name="username" placeholder="Enter Your Username">
            <input style="margin-top:10px; margin-bottom:10px; border: 1px solid #ccc; padding: 10px; font-size: 14px; width: 100%;"
                   type="password" name="password" placeholder="Password">
            <p class="spacing">Dont have an account ? <a href="{% url 'register' %}">Register</a></p>
            <p class="spacing"><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
            <button class="blue-button" type="submit">Login</button>

        </form>
    </div>
{% endblock %}