{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>

<body>

{% block content %}

<div class="product-container">
    {% for product in products %}
    <div class="product-card">
        <img alt="{{ product.name }}" class="product-image" src="{{ product.image.url }}">
        <h3 class="product-title">{{ product.name }}</h3>
        <br>


        <a class="view-button" href="{% url 'product' product.id %}">View Products</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
</body>

</html>