{% load static %}
{% load custom_filters %}

<section id="header">
    <div class="container">
        <div>
            <a href="{% url 'home' %}"><img alt="" class="logo" src="{% static 'assests/logo.png' %}"></a>
        </div>


        <form class="search-container" action="{% url 'search' %}" method="get">

            <input
                    type="search"
                    name="q"
                    placeholder="Search..."
                    class="search-input"
                    required>
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>

        </form>


        <div class="right-side">

            <div class="wrap1">

                <ul class="primary1" style="display: flex;">
                    <li>
                        <a id="profile-icon"><i class=" login fa-solid fa-user"></i></a>
                        <ul class="sub1" id="dropdown-menu">
                            {% if user.is_authenticated %}
                                {% if seller_details.is_verified %}
                                    <li>
                                        <a href="{% url 'seller_profile' encoded_username=request.user.username|sign_username %}">Seller
                                            Profile</a></li>
                                    <li>
                                        <a href="{% url 'user_profile' encoded_username=request.user.username|sign_username %}">User
                                            Profile</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'user_profile' encoded_username=request.user.username|sign_username %}">User
                                            Profile</a>
                                    </li>
                                {% endif %}

                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                <li><a href="{% url 'cart_summary' %}">My Cart</a></li>
                            {% else %}
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li>
                        <a class="bye" href="{% url 'cart_summary' %}"><i class="cart-icon fa-solid fa-shopping-cart">
                            <span id="cart-quantity">{{ cart|length }}</span></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<input id="active" type="checkbox">
<label class="menu-btn" for="active"><span></span></label>
<label class="close" for="active"></label>
<div class="wrapper">

    <form class="mbl-search-container" action="{% url 'search' %}" method="get">

        <input
                type="search"
                name="q"
                placeholder="Search..."
                class="mbl-search-input"
                required>
        <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>

    </form>

    <ul>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'user_profile' encoded_username=request.user.username|sign_username %}">UserProfile</a>
            </li>
            {% if seller_details.is_verified %}
                <li><a href="{% url 'seller_profile' encoded_username=request.user.username|sign_username %}">SellerProfile</a>
                </li>
                <li><a href="{% url 'add_room' %}">AddRoom</a></li>
                <li><a href="#" class="addProductBtn">AddProduct</a></li>
            {% else %}
                <li><a href="{% url 'seller_info' %}">BecomeASeller</a></li>
            {% endif %}

            <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li><a href="{% url 'help_and_support' %}">Help&Support</a></li>

        <li><a href="{% url 'cart_summary' %}">Cart</a></li>
    </ul>
</div>
<div>
    <label class="menu-btn1" for="active">
        <span>
            <div class="navbar">
              <ul class="nav-list">
                {% if user.is_authenticated %}
                    {% if seller_details.is_verified %}
                        <li> <a href="{% url 'seller_profile' encoded_username=request.user.username|sign_username %}">Seller Profile</a></li>
                    {% else %}
                        <li><a href="{% url 'seller_info' %}">Become a Seller</a> </li>
                    {% endif %}

                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                  <li><a href="{% url 'help_and_support' %}">Help & Support</a></li>
                  {% if seller_details.is_verified %}
                      <li><a href="{% url 'add_room' %}">Add Room</a></li>
                      <li><a href="#" class="addProductBtn">AddProduct</a></li>
                  {% endif %}
             </ul>
           </div>
        </span>
    </label>
</div>


<script>
    document.querySelectorAll(".addProductBtn").forEach(button => {
        button.addEventListener("click", function (event) {
            event.preventDefault();
            Swal.fire({
                title: 'Terms and Conditions',
                html: '<p>By adding a product to StudX, you agree that a commission of 10% will be deducted from your sale. Please read the full <a href="{% url "terms_conditions" %}" target="_blank">terms and conditions</a> before proceeding.</p>',
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: 'I Accept',
                cancelButtonText: 'I Do Not Accept',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '{% url "confirm_terms" %}';
                } else {
                    window.location.href = '/';
                }
            });
        });
    });
</script>

