{% extends 'base.html' %}
{% load tz %}
{% block content %}

<style>
    .form-container {
display: flex;
justify-content: center;
padding: 2rem;
background: #f9f9f9;
}
</style>

<div class="form-container">
    <div class="receipt-container">
        <h2 class="receipt-title">Order Receipt</h2>
        <table class="receipt-table">
            <tr>
                <th>Order ID</th>
                <td>{{ order.order_id }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ order.product.name }}</td>
            </tr>
            <tr>
                <th>Amount Paid</th>
                <td>NPR {{ order.amount|floatformat:2 }}</td>
            </tr>
            <tr>
                <th>Transaction ID</th>
                <td>{{ order.khalti_pidx }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ nepali_time|date:"Y-m-d h:i A" }} (NPT)</td>
            </tr>
            <tr>
                <th>Status</th>
                <td><span class="status-success">{{ order.status }}</span></td>
            </tr>
        </table>
        <div class="footer_receipt">Thank you for shopping with us!</div>
        <a href="{% url 'generate_receipt_pdf' order.id %}" class="blue-button">Download PDF</a>
    </div>
</div>

{% endblock %}