{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
        {% if validlink %}

            <h2 class="heading">Reset Password</h2>
            <form class="form-design" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
                <div class="heading">
                    <button class="blue-button" type="submit">Reset Password</button>
                </div>
            </form>
        {% else %}
            <p>The password reset link is invalid or has expired.</p>
            <p>
                You can request a new password reset link
                <a href="{% url 'password_reset' %}">here</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}










