{% extends 'base.html' %}

{% block content %}
<section class="item-section">

    <div class="item-card">
        <div class="item-image">
            <img alt="" src="{{ product.image.url }}">
        </div>
        <div class="item-details">
            <h2>{{product.name}}</h2>
            <hr/>
            <div class="item-description">
                <p>{{product.description}}</p>
            </div>
            <div class="seller-detail">
                <a href="{% url 'seller_profile' product.seller.username %}">
                <img src="{{product.seller.profile.image.url}}" alt="seller-image">
                <p>{{ product.seller.username }}</p>
                </a>
            </div>
            <div class="box-price-container">
            <span class="box-price">PRICE :  </span>
            <p class="price">NRs.{{product.price}}</p>
            </div>
            <div class="button-container">
                <button class="blue-button">Buy Now</button>
                <button class="red-button">Add to Cart</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}